<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Vladimir Belov on 18.09.2022, 8:26
  ~  * Copyright (c) 2018 - 2022. All rights reserved.
  ~  * Last modified 15.09.2022, 21:18
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>  <!-- без этого на Android 8+ виджеты не обновляются https://android.jlelse.eu/keep-those-background-services-working-when-targeting-android-oreo-sdk-26-cbf6cc2bdb7f -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- для проигрывания уведомлений из внешнего хранилища https://stackoverflow.com/questions/54120745/android-9-0-notificationmanager-notify-throwing-java-lang-securityexception -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/> <!-- для выставления высокого приоритета уведомлениям викторины на младших андроидах https://stackoverflow.com/questions/42597698/android-how-to-allow-enable-floating-notifications-setting-as-default-for-ap -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/> <!-- без этого на Android 12+ будет появляться SecurityException https://developer.android.com/about/versions/12/behavior-changes-12#exact-alarm-permission -->
    <!-- <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> позволяет запрашивать игнорирование оптимизации батареи для этого приложения (для обновления виджетов) https://developer.android.com/reference/android/provider/Settings#ACTION_REQUEST_IGNORE_BATTERY_OPTIMIZATIONS -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> <!-- для Android 13+ нужно для отправки уведомлений -->
    <!--<uses-permission android:name="android.permission.USE_EXACT_ALARM"/> https://support.google.com/googleplay/android-developer/answer/12253906#exact_alarm_preview -->
    <queries> <!-- https://developer.android.com/about/versions/11/privacy/package-visibility -->
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
    </queries>

    <supports-screens android:largeScreens="true" android:xlargeScreens="true"/>

    <!--https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive-->
    <!--https://coderanch.com/t/683639/difference-android-icon-android-roundIcon-->
    <!--http://developer.alexanderklimov.ru/android/theory/adaptive_icons.php -->
    <application
        android:label="@string/app_name"
        android:icon="@drawable/app_icon"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hasFragileUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="tiramisu"
        android:enableOnBackInvokedCallback="false"
        android:taskAffinity=""
        android:localeConfig="@xml/locale_config"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.App.Starting"
            android:screenOrientation="user"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <activity-alias
            android:name="org.vovka.birthdaycountdown.Spring"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity-alias>
        <activity-alias
            android:name="org.vovka.birthdaycountdown.Summer"
            android:icon="@drawable/app_icon_summer"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity-alias>
        <activity-alias
            android:name="org.vovka.birthdaycountdown.Winter"
            android:icon="@drawable/app_icon_winter"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity-alias>
        <activity-alias
            android:name="org.vovka.birthdaycountdown.Grey"
            android:icon="@drawable/app_icon_grey"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity-alias>
        <activity-alias
            android:name="org.vovka.birthdaycountdown.Black"
            android:icon="@drawable/app_icon_black"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity-alias>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.DarkGray.NoActionBar"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="user"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"/>

        <activity
            android:name=".WidgetConfigureActivity"
            android:theme="@style/AppTheme.DarkGray"
            android:screenOrientation="user"
            tools:ignore="LockedOrientationActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity android:name=".AboutActivity"
            android:theme="@style/AppTheme.DarkGray.NoActionBar"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="user"
            tools:ignore="LockedOrientationActivity"
            android:exported="false"/>

        <activity android:name=".FAQActivity"
            android:theme="@style/AppTheme.DarkGray.NoActionBar"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="user"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"/>

        <!--https://developer.android.com/guide/topics/ui/shortcuts https://habr.com/ru/post/335480/-->
        <activity android:name=".NotifyActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:parentActivityName=".MainActivity"
            android:exported="false"/>

        <activity android:name=".QuizActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:parentActivityName=".MainActivity"
            android:exported="false"/>

        <!--Receivers-->
        <receiver
            android:name=".DateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- https://stackoverflow.com/questions/31787778/android-is-android-intent-action-date-changed-triggered-at-device-reboot -->
                <!-- https://stackoverflow.com/questions/32114436/broadcastreceiver-for-date-changed-only-works-if-i-set-a-date-in-the-future/32172482#32172482 -->
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".DeviceBootReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".ActionReceiver" />
        <receiver android:name=".WidgetUpdateReceiver" />
        <receiver android:name=".QuizReceiver" />

        <!--Widgets-->
        <receiver
            android:name=".Widget5x1"
            android:label="@string/appwidget_label_1_7"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget5x1_info" />

            <!--Samsung One UI https://stackoverflow.com/questions/58574864/enable-widget-setting-button-for-widgets-in-android -->
            <meta-data android:name="android.appwidget.provider.semConfigureActivity" android:value="org.vovka.birthdaycountdown.WidgetConfigureActivity"/>
        </receiver>

        <receiver
            android:name=".Widget2x2"
            android:label="@string/appwidget_label_1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget2x2_info" />
            <meta-data android:name="android.appwidget.provider.semConfigureActivity" android:value="org.vovka.birthdaycountdown.WidgetConfigureActivity"/>
        </receiver>

        <receiver
            android:name=".Widget4x1"
            android:label="@string/appwidget_label_5"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget4x1bc_info" />
            <meta-data android:name="android.appwidget.provider.semConfigureActivity" android:value="org.vovka.birthdaycountdown.WidgetConfigureActivity"/>
        </receiver>

        <receiver
            android:name=".WidgetList"
            android:label="@string/appwidget_label_List"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widgetlist_info" />
            <meta-data android:name="android.appwidget.provider.semConfigureActivity" android:value="org.vovka.birthdaycountdown.WidgetConfigureActivity"/>
        </receiver>

        <receiver
            android:name=".WidgetPhotoList"
            android:label="@string/appwidget_label_PhotoList"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widgetphotolist_info" />
            <meta-data android:name="android.appwidget.provider.semConfigureActivity" android:value="org.vovka.birthdaycountdown.WidgetConfigureActivity"/>
        </receiver>

        <service android:name=".EventListWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name=".EventPhotoListWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".SuggestionProvider"
            android:authorities="@string/content_provider_authority"
            android:exported="true"
            android:syncable="false"
            tools:ignore="ExportedContentProvider">

            <intent-filter>
                <action android:name="com.samsung.android.intent.action.DEVICE_SEARCH" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="${applicationId}"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data android:name="android.app.default_searchable" android:value=".MainActivity" />

    </application>
</manifest>