<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Vladimir Belov on 27.11.19 13:35
  ~  * Copyright (c) 2018 - 2019. All rights reserved.
  ~  * Last modified 27.11.19 13:35
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.vovka.birthdaycountdown">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />  <!-- без этого на Android 8+ виджеты не обновляются https://android.jlelse.eu/keep-those-background-services-working-when-targeting-android-oreo-sdk-26-cbf6cc2bdb7f -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <supports-screens android:largeScreens="true" android:xlargeScreens="true" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_birthdaycountdowngreen77"
        android:roundIcon="@drawable/ic_birthdaycountdowngreen77"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true"
        android:fullBackupContent="true"
        >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.DarkGray.NoActionBar"
            android:screenOrientation="portrait"
            > <!-- android:configChanges="orientation|screenSize" что-то не работает https://www.dev2qa.com/android-change-orientation-without-restarting-activity-example/ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.DarkGray.NoActionBar"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".WidgetConfigureActivity"
            android:theme="@style/AppTheme.DarkGray"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- https://stackoverflow.com/questions/31787778/android-is-android-intent-action-date-changed-triggered-at-device-reboot -->
        <!-- https://stackoverflow.com/questions/32114436/broadcastreceiver-for-date-changed-only-works-if-i-set-a-date-in-the-future/32172482#32172482 -->
        <receiver
            android:name=".DateReceiver"
            android:enabled="true">
            <intent-filter>
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" /> по идее, виджеты сами получат сообщения -->
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".Widget5x1"
            android:label="@string/appwidget_name_1_7">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget5x1_info"/>
        </receiver>

        <receiver
            android:name=".Widget2x2"
            android:label="@string/appwidget_name_1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget2x2_info" />
        </receiver>

        <receiver
            android:name=".Widget4x1"
            android:label="@string/appwidget_name_5">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget4x1bc_info" />
        </receiver>

        <receiver android:name=".DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>